
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Env
.env

# Screenshots / Results
/test-results/

# Logs
*.log
npm-debug.log*

# OS / Editor
.DS_Store
.vscode/
.idea/
